
/* Universal CSS*/

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

div {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  flex: 1;
  justify-content: center;
  list-style: none;
  color: white;
  text-decoration: none;
  gap: 24px;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: white;
  padding: 0;
  margin: 0;
}

h2, h3 {
  padding: 0;
  margin: 0;
}


button {
  background-color: #3882F6;
  padding: 2px 16px;
  color: white;
  border-radius: 5px;
  border: none;
}

/* Head/Setion 1 CSS*/

.head {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 15%;

}

.link-logo, .main {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.logoimg {
  width: 150px;
  height: auto;
}

.main {
  justify-content: center;
  align-items: center;
}

.text-info {
  color: white;
  font-size: 16px;
}

.blockimg {
  width: 500px;
  height: auto;
}

/* Block info/Setion 2 CSS*/


.four-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;

}

.info-blocks {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 32px;
}

.block {
  display: flex;
  flex-direction: column;
  flex-basis: 150px;
  justify-content: center;
  align-items: center;
}


.block-img {
  border: 2px solid #3882F6;
  border-radius: 5px;

}

.info-img {
  width: 100%;
  height: 100%;
 
}

.text-desc {
  text-align: center;
}

/* Quote/Setion 3 CSS*/

.big-text {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 80px 15%;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.quote-desc {
  font-size: 24px;
  font-weight: 900;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  
}


/* Sing in/Setion 4 CSS*/

.sign-up {
  padding: 80px 15%;
  display: flex;
  justify-content: center;
}

.blue-block {
  background-color: #3882F6;
  display: flex;
  flex: 1;
  padding: 32px;
  border-radius: 5px;
  color: white;

}

.text-sign, .sign-button {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sign-button  {
  justify-content: center;
  align-items: center;


}

.buttomsing {
  border: 1px solid white;
  padding: 8px 32px;
}


.sign-title {
  font-size: 24px;
  font-weight: 900;
}

.sign-desc {
  font-size: 18px;

}


/* Footer CSS*/

.footer {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  padding: 35px;
  color: white;
}

.footer-text {
  font-size: 18px;
}
